.vscode/*
.idea/
__pychache__/
__pycache__/
ml_app/spawn/
ml_app/__pychache__/
ml_app/config/__pychache__/
.idea/dg-spawn-chat-backend.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/config.cpython-36.pyc
__pycache__/config.cpython-37.pyc
__pycache__/crf_entity.cpython-36.pyc
__pycache__/crf_entity.cpython-37.pyc
__pycache__/fastapi_server.cpython-36.pyc
__pycache__/fastapi_server.cpython-37.pyc
__pycache__/flask_server.cpython-36.pyc
__pycache__/flask_server.cpython-37.pyc
__pycache__/train_model.cpython-36.pyc
__pycache__/train_model.cpython-37.pyc
ml_app/__pycache__/app.cpython-37.pyc
ml_app/config/__pycache__/config.cpython-37.pyc
ml_app/config/__pycache__/__init__.cpython-37.pyc
ml_app/service/__pycache__/crf_entity.cpython-37.pyc
ml_app/service/__pycache__/__init__.cpython-37.pyc
ml_app/service/__pycache__/utils.cpython-37.pyc
ml_app/service/__pycache__/train_model.cpython-37.pyc
.vscode/settings.json